@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}
body {
  text-align: center;
  background: linear-gradient(to bottom, #f56ad7, #fff);
  min-height: 100vh;
}
 
main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
 
}
#pokedexinterface{
    width: 80%;
    max-width: 450px;
    z-index: 2;
}
#pokemon{
    position: absolute;
    bottom: 53%;
    left: 30%;
    transform: translate(-63%, 20%);
    height: 18%;
    z-index: 3;
}
 
 
.nomenum{
    position: absolute;
    bottom: 40%;
    left: 20%;
    font-weight: 600;
    font-size: clamp(10px, 5vw, 27px);
    z-index: 3;
}
.pokenum{
    color: rgb(20, 20, 20);
}
.pokenome{
    color: rgb(46, 46, 46);
    text-transform: capitalize;
}
form{
    position: absolute;
    width: 55%;
    bottom: 30%;
    left: 0.5%;
    z-index: 3;
}
#pesquisarpokemon{
    width: 70%;
    padding: 2%;
    outline: none;
    border: solid 2px rgb(58, 58, 58);
    border-radius: 5px;
    font-weight: 600;
    background-color: rgb(227, 227, 227);
    font-size: clamp(8px, 3vw, 15px);
    box-shadow: -3px 2px 0 rgb(142, 6, 42), -5px 3px 0 rgb(88, 17, 36);
    z-index: 3;
 
}
 
.botoes{
    position: absolute;
    bottom: 10%;
    left: 36%;
    width: 50%;
    transform: translate(-57%, 0%);
    display: flex;
    gap: 10%;
    z-index: 3;
}
 
button{
    width: 35%;
    padding: 3%;
    outline: none;
    border: solid 2px rgb(58, 58, 58);
    border-radius: 5px;
    font-weight: 600;
    background-color: rgb(95, 87, 90);
    font-size: clamp(8px, 3vw, 15px);
    box-shadow: -3px 2px 0 rgb(77, 77, 77), -5px 3px 0 rgb(88, 17, 36);
    color:#fff
}
button:active{
    background-color: rgb(58, 58, 58);
    box-shadow: inset -4px 4px rgb(31, 31, 31);
    font-size: 0.9rem;
   
}
#dirpokedex{
    background-color: rgb(211, 10, 64);
    height: 500px;
    width:350px;
    display: flex;
    margin-top: 22.5%;
    z-index: 1;
    border-radius: 10px;
    border: solid 2px rgb(84, 11, 23);
    box-shadow: inset -2px -2px rgb(84, 11, 23), inset -10px -10px rgb(142, 6, 42);
   
}
#pokedex{
    display: flex;
  justify-content: center;
  align-items: flex-start;
}
 
 